#graphicArea {
	//noinspection CssUnknownTarget
	//background-image: url("../images/castleBackground4x3.jpg");

	overflow: hidden;

	> img {
		height: 100%;
		position: absolute;
	}

	&.scrolling > img {
		animation: bgScroll 5s infinite linear;
	}


}

@keyframes bgScroll {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}