@charset "UTF-8";
@import "mixins";
@import "flex";
@import "utils";
@import "arrow";

// TODO school comp aspect ratio: 7:5 ish (sides are ~220px)

$graphicAreaHeight: 70vh;
$graphicAreaWidth: 100%;
$gameAreaWidth: (4/3) * $graphicAreaHeight;
$gameAreaHeight: 100vh;

.side * {
	font-size: 1.5rem;
}

.side button, .side form {
	min-width: 50%;
	margin: .5em 0;
	display: inline-block;
}

.side form {
	@include flex(column, center, center);
}

.side input[type='number'] {
	font-size: 1.5rem;
	margin: 0 .5em;
	display: inline;
	text-align: center;
}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: {
		family: 'Roboto', 'Helvetica', sans-serif;
		size: 16px;
	}
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: #444;

	&.easterEgg * {
		font-family: 'Comic Sans MS', sans-serif;
		color: red !important;
		text-shadow: 2px 2px 8px green;
	}

	&.noMainTile {
		#leftArea {
			display: none !important;
		}
		#rightArea {
			width: 80% !important;
		}
	}

	#game, .side {
		height: 100%;
		@include flex(column, center, center);
		position: relative;
	}

	//&.debug .debugOnly { display: flex; }
	&:not(.debug) .debugOnlyHidden { visibility: hidden !important; }
	&:not(.debug) .debugOnly { display: none !important; }

	.side {
		width: calc((100vw - #{$gameAreaWidth})/2);
		text-align: center;
	}

	#game {
		width: $gameAreaWidth;
		height: $gameAreaHeight;
		position: relative;
		> div { width: 100%; }
		#graphicArea {
			background-size: contain;
			position: relative;
			height: $graphicAreaHeight;
			border: solid 5px black;
			.pixelArt {
				image-rendering: pixelated;
			}
			.healthbar {
				height: 50%;
				width: 5%;
				position: absolute;
				top: 0;
				@include flex(column, flex-start, center);
				border: none 5px black;
				border-bottom-style: solid;
				.barSegment {
					width: 100%;
					background-color: #ff0000;
					border: solid 4px #800800;
				}
			}
			#playerHealth { left: 0; border-right-style: solid; }
			#enemyHealth { right: 0; border-left-style: solid; }
		}
		#barArea {
			height: 5%;
			background: black;
			padding: 4px 0;
			@include flex(row, flex-start, center);
			.barSegment {
				height: 100%;
				background-color: #21ff00;
				border: solid 4px green;
			}
		}
		#tileArea { // TODO AR here is 1:3.74
			background: black;
			height: 25%;
			@include flex(row, space-around, center);
			#leftArea {
				width: 28%;
				height: 100%;
				@include flex(column, center, center);
				.bigTileArea {
					height: 95%;
					width: 95%;
				}
			} // TODO background for tile area and bar area same image
			#rightArea {
				width: 71%;
				height: 100%;
				@include flex(column, space-around, flex-start);
				.row {
					position: relative;
					height: 31%;
					width: 100%;
					@include flex(row, flex-start, center);
					> img, > div { margin-right: 32px; }
					.arrow { height: 100%; }
					.highlighter {
						margin: 0;
						position:  absolute;
						top: -5px; left: -5px; right: 0; bottom: -5px;
						border: solid 5px transparent;
					}
					&.selected.max .highlighter { border-color: green; }
					&.selected:not(.max) .highlighter { border-color: red; }
					/*&::after {
						content: "=" attr(data-totalValue);
						position: absolute;
						right: 0;
					}*/
				}
			}
			.tile {
				color: white;
				position: relative;
				background: gray;
				@include flex(column, center, center);
				&:last-child { margin-right: 0; }
				&[data-operation]::before {
					content: attr(data-operation);
					position: absolute;
					right: 100%;
					bottom: 0;
					height: 100%;
					width: 50%;
					text-align: center;
					vertical-align: middle;
					@include flex(column, center, center);
					font-size: 32px;
				}
				&[data-operation="/"]::before { content: "÷"; }
				&[data-operation="*"]::before { content: "×"; }
			}
		}
		#bottomOverlay {
			@include flex(row, center, center);
			font-size: 50px;
			color: white;
			background: black;
			position: absolute;
			top: $graphicAreaHeight;
			bottom: 0;
			width: 100%;
			> div {
				display: none;
			}
			&.correct > .correct,
			&.failed > .failed,
			&.win > .win,
			&.lose > .lose {
				display: inline-block;
			}
		}
	}
}

@import "bgscroll";