@import "mixins";
@import "flex";
@import "utils";
@import "arrow";

* { padding: 0; margin: 0; }
body {
	font: {
		family: 'Roboto', 'Helvetica', sans-serif;
		size: 16px;
	}
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: #444;

	> div {
		height: 100%;
		@include flex(column, center, center);
	}

	#game {
		position: relative;
	}

}

.tile-parent {
	width: 100%;
	height: 25vh;
	padding: 16px;
	display: none; /* display set to flex later */
	.tile {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px;
		font-size: 8px;
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
}