@charset "UTF-8";
*[class^="flex-"], *[class*=" flex-"] {
  display: flex; }
  *[class^="flex-"][class^="flex-row"], *[class^="flex-"][class*=" flex-row"], *[class*=" flex-"][class^="flex-row"], *[class*=" flex-"][class*=" flex-row"] {
    flex-direction: row; }
  *[class^="flex-"][class^="flex-column"], *[class^="flex-"][class*=" flex-column"], *[class*=" flex-"][class^="flex-column"], *[class*=" flex-"][class*=" flex-column"] {
    flex-direction: column; }
  *[class^="flex-"][class^="justify-"].justify-center, *[class^="flex-"][class*=" justify-"].justify-center, *[class*=" flex-"][class^="justify-"].justify-center, *[class*=" flex-"][class*=" justify-"].justify-center {
    justify-content: center; }
  *[class^="flex-"][class^="justify-"].justify-start, *[class^="flex-"][class*=" justify-"].justify-start, *[class*=" flex-"][class^="justify-"].justify-start, *[class*=" flex-"][class*=" justify-"].justify-start {
    justify-content: flex-start; }
  *[class^="flex-"][class^="justify-"].justify-end, *[class^="flex-"][class*=" justify-"].justify-end, *[class*=" flex-"][class^="justify-"].justify-end, *[class*=" flex-"][class*=" justify-"].justify-end {
    justify-content: flex-end; }
  *[class^="flex-"][class^="justify-"].justify-around, *[class^="flex-"][class*=" justify-"].justify-around, *[class*=" flex-"][class^="justify-"].justify-around, *[class*=" flex-"][class*=" justify-"].justify-around {
    justify-content: space-around; }
  *[class^="flex-"][class^="justify-"].justify-between, *[class^="flex-"][class*=" justify-"].justify-between, *[class*=" flex-"][class^="justify-"].justify-between, *[class*=" flex-"][class*=" justify-"].justify-between {
    justify-content: space-between; }
  *[class^="flex-"][class^="align-"].align-center, *[class^="flex-"][class*=" align-"].align-center, *[class*=" flex-"][class^="align-"].align-center, *[class*=" flex-"][class*=" align-"].align-center {
    align-items: center; }
  *[class^="flex-"][class^="align-"].align-start, *[class^="flex-"][class*=" align-"].align-start, *[class*=" flex-"][class^="align-"].align-start, *[class*=" flex-"][class*=" align-"].align-start {
    align-items: flex-start; }
  *[class^="flex-"][class^="align-"].align-end, *[class^="flex-"][class*=" align-"].align-end, *[class*=" flex-"][class^="align-"].align-end, *[class*=" flex-"][class*=" align-"].align-end {
    align-items: flex-end; }
  *[class^="flex-"][class^="align-"].align-base, *[class^="flex-"][class*=" align-"].align-base, *[class*=" flex-"][class^="align-"].align-base, *[class*=" flex-"][class*=" align-"].align-base {
    align-items: baseline; }
  *[class^="flex-"][class^="align-"].align-stretch, *[class^="flex-"][class*=" align-"].align-stretch, *[class*=" flex-"][class^="align-"].align-stretch, *[class*=" flex-"][class*=" align-"].align-stretch {
    align-items: stretch; }

.darken25 {
  box-shadow: inset 0 1000px rgba(0, 0, 0, 0.25); }

.darken50 {
  box-shadow: inset 0 1000px rgba(0, 0, 0, 0.5); }

.darken75 {
  box-shadow: inset 0 1000px rgba(0, 0, 0, 0.75); }

.lighten25 {
  box-shadow: inset 0 1000px rgba(255, 255, 255, 0.25); }

.lighten50 {
  box-shadow: inset 0 1000px rgba(255, 255, 255, 0.5); }

.lighten75 {
  box-shadow: inset 0 1000px rgba(255, 255, 255, 0.75); }

.hiddenAlt {
  visibility: hidden !important; }

.hidden {
  display: none !important; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cursor-pointer {
  cursor: pointer; }

.w3-modal {
  position: absolute; }

i {
  font-style: normal; }

.material-icons {
  top: initial;
  width: auto; }

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* from stackoverflow's all.css */
kbd {
  padding: .1em .6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap; }

.arrow.left {
  transform: rotate(-90deg); }

.arrow.up {
  transform: rotate(0deg); }

.arrow.right {
  transform: rotate(90deg); }

.arrow.down {
  transform: rotate(180deg); }

.arrow polyline {
  fill: white;
  stroke: black;
  stroke-linejoin: round;
  stroke-width: 25px; }

.arrow.active.left polyline {
  fill: white; }

.arrow.active.up polyline {
  fill: red; }

.arrow.active.right polyline {
  fill: green; }

.arrow.active.down polyline {
  fill: blue; }

.side * {
  font-size: 1.5rem; }

.side button, .side form {
  min-width: 50%;
  margin: .5em 0;
  display: inline-block; }

.side input[type='number'] {
  font-size: 1.5rem;
  margin: 0 .5em;
  display: inline;
  text-align: center; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #444; }
  body #game, body #left, body #right {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative; }
  body #left, body #right {
    width: calc((100vw - 93.33333vh)/2); }
  body #game {
    width: 93.33333vh;
    height: 100vh; }
    body #game > div {
      width: 100%; }
    body #game #graphicArea {
      background-size: contain;
      position: relative;
      height: 70%; }
    body #game #barArea {
      height: 5%;
      background: black;
      padding: 4px 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center; }
      body #game #barArea .barSegment {
        height: 100%;
        background-color: #21ff00;
        border: solid 4px green; }
    body #game #tileArea {
      background: black;
      height: 25%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center; }
      body #game #tileArea #leftArea {
        width: 28%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; }
        body #game #tileArea #leftArea .bigTileArea {
          height: 95%;
          width: 95%; }
      body #game #tileArea #rightArea {
        width: 71%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: flex-start; }
        body #game #tileArea #rightArea .row {
          position: relative;
          height: 31%;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center; }
          body #game #tileArea #rightArea .row > img, body #game #tileArea #rightArea .row > div {
            margin-right: 32px; }
          body #game #tileArea #rightArea .row .arrow {
            height: 100%; }
          body #game #tileArea #rightArea .row .highlighter {
            margin: 0;
            position: absolute;
            top: -5px;
            left: -5px;
            right: 0;
            bottom: -5px;
            border: solid 5px transparent; }
          body #game #tileArea #rightArea .row.selected.max .highlighter {
            border-color: green; }
          body #game #tileArea #rightArea .row.selected:not(.max) .highlighter {
            border-color: red; }
          body #game #tileArea #rightArea .row::after {
            content: "=" attr(data-totalValue);
            position: absolute;
            right: 0; }
      body #game #tileArea .tile {
        color: white;
        position: relative;
        background: gray;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; }
        body #game #tileArea .tile:last-child {
          margin-right: 0; }
        body #game #tileArea .tile[data-operation]::before {
          content: attr(data-operation);
          position: absolute;
          right: 100%;
          bottom: 0;
          height: 100%;
          width: 50%;
          text-align: center;
          vertical-align: middle;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          font-size: 32px; }
        body #game #tileArea .tile[data-operation="/"]::before {
          content: "÷"; }
        body #game #tileArea .tile[data-operation="*"]::before {
          content: "×"; }

/*# sourceMappingURL=layout.css.map */
