#left, #right {
	width: calc((100vw - 85vh)/2);
	height: 100vh;
}

#game {
	position: relative;
	display: flex;
	flex-direction: column;
	border: solid 16px black;
	width: 85vh;
	height: 95vh;
}

#graphicArea {
	position: relative;
	height: 70%;
	background-color: deepskyblue;
}
#barArea {
	height: 5%;
	background: linear-gradient(#c7004c,red);
	padding: 8px 0;
	box-sizing: border-box;
	display: flex;
}
.barSegment {
	width: 3%;
	height: 100%;
	background-color: #21ff00;
	border: solid 4px green;
	box-sizing: border-box;
}
#tile-area {
	background: linear-gradient(#ff0028, #ff9a00);
	height: 25%;
	display: flex;
	justify-content: space-around;
}
#leftArea {
	width: 28%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#rightArea {
	width: 71%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.bigTileArea {
	height: 95%;
}

.row {
	position: relative;
	height: 31%;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.arrow {
	height: 100%;
	margin-right: 32px;
}

.tile {
	color: whitesmoke;
	position: relative;
	background: #000;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tile[data-operation]::before {
	content: attr(data-operation);
	position: absolute;
	right: 100%;
	bottom: 0;
	height: 100%;
	width: 50%;
	text-align: center;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 32px;
}

.tile[data-operation="/"]::before {
	content: "÷";
}

.tile:not(:last-child) {
	margin-right: 32px;
}